body {
  width: 100%;
  padding: 8.8rem 2.4rem;
  font-family: var(--main-font);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;

  background-color: var(--navy);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.cta-heading {
  font-family: var(--main-font);
  font-size: 2.4rem;
  line-height: 125%;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--white);
}

.site-link {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 165%;
  letter-spacing: 0;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);

  padding: 0.8rem 1.2rem;
  background-color: var(--purple);
  border-radius: 0.8rem;
  border: 1px solid var(--purple);

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .site-link  {
    transition-duration: 50ms;
  }
}

/* Tablet */

@media screen and (min-width: 48rem) {
  body {
    padding: 9.2rem 10.2rem;
    gap: 4.6rem;
  }

  .header {
    flex-direction: row;
  }

  .site-link:hover,
  .site-link:focus {
    background-color: var(--white);
    color: var(--purple);
  }
}

/* Desktop */

@media screen and (min-width: 90rem) {
  body {
    height: 100vh;
    padding: 0;
  }
}
