.main {
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.8rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 24rem;
  overflow: hidden;
  background-color: var(--purple);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.4rem 3.2rem;
  gap: 4rem;
}

.info-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.8rem;

  text-align: center;
}

.stats-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3.2rem;
}

.stats-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Tablet */

@media screen and (min-width: 48rem) {
  .main {
    max-width: 64rem;
  }

  .image-container {
    height: 44.2rem;
  }

  .info-container {
    padding: 6.4rem 8rem;
    align-items: flex-start;
    gap: 7.2rem;
  }

  .info-section {
    align-items: flex-start;
    text-align: start;
    gap: 2.4rem;
  }

  .stats-list {
    width: fit-content;
    flex-direction: row;
    gap: 6.4rem;
  }

  .stats-element {
    align-items: flex-start;
  }
}